<div class="row">
  <div class="col-lg-4 col-sm-12" *ngFor="let i of allUsers">
    <div class="card" style="width: 13rem; margin-left: 6px; margin-top: 10px">
      <div class="card-body">
        <h5 class="card-title">{{ i.firstName }} {{ i.lastName }}</h5>
        <p class="card-text">User Name - {{ i.loginId }}</p>
        <a class="btn btn-sm btn-primary" routerLink="/search/{{ i.loginId }}"
          >{{ i.loginId | titlecase }}'s Tweets</a
        >
      </div>
    </div>
  </div>
</div>
