.main {
  background-color: rgb(48, 56, 58);
  height: calc(100vh);
  width: 100%;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
  margin: 0px auto;
}

input {
  border: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form {
  width: 250px;
}

#login,
.logo {
  display: inline-block;
  width: 40%;
}

#login {
  padding: 0px 22px;
  width: 80%;
}

.logo {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  margin-top: 38px;
}

#login form span.fa {
  background-color: #fff;
  border-radius: 3px 0px 0px 3px;
  color: #000;
  display: block;
  float: left;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 35px;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.text-danger {
  font-weight: 700;
}

.validationMsg {
  width: 208px;
  text-align: center;
  height: 25px;
}

#login form input[type="text"],
input[type="password"] {
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  color: #000;
  margin-bottom: 0.5em;
  padding: 0 16px;
  width: 200px;
}

.btn {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  padding: 1px 10px;
  height: 30px;
}

#login form input[type="submit"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}

.middle {
  display: flex;
  width: 600px;
  margin-top: 40px;
}

a:hover {
  color: rgb(115, 111, 111);
}
