.fab {
  color: rgba(29, 161, 242, 1);
}

.pointer {
  cursor: pointer;
}

.stickySidebar {
  position: -webkit-sticky;
  position: sticky;
}

.vl {
  border: 2px solid rgb(194, 192, 191);
  height: 100%;
  width: 150%;
}
