<div class="main">
  <div class="container">
    <div class="middle text-center">
      <div
        style="
          background-color: black;
          padding: 0% 50% 10% 40%;
          margin-right: 70%;
          border-radius: 5%;
        "
      >
        <div style="padding-bottom: 20%; padding-top: 30%">
          <span
            style="
              font-family: 'Courier New', Courier, monospace;
              font-size: 30px;
              color: rgb(115, 111, 111);
            "
          >
            Change Password
          </span>
        </div>
        <form
          [formGroup]="forgotPasswordForm"
          autocomplete="off"
          (submit)="forgotPassword()"
          id="login"
        >
          <fieldset class="clearfix">
            <div class="row">
              <!-- <div class="col-md-2"><i class="fa fa-user fa-2x"></i></div> -->
              <div class="col-md-10">
                <input
                  style="width: 120%"
                  type="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="Email"
                />
                <div class="validationMsg">
                  <small
                    class="text-danger"
                    *ngIf="
                      forgotPasswordForm.get('email')?.touched &&
                      forgotPasswordForm.get('email')?.errors?.required
                    "
                  >
                    Email is mandatory
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="
                      forgotPasswordForm.get('email')?.touched &&
                      forgotPasswordForm.get('email')?.errors?.pattern
                    "
                    >Invalid email address
                  </small>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="clearfix">
            <div class="row">
              <!-- <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
              </div> -->
              <div class="col-md-10">
                <input
                  type="password"
                  formControlName="newPassword"
                  class="form-control"
                  placeholder="New password"
                />
                <div class="validationMsg">
                  <small
                    class="text-danger"
                    *ngIf="
                      forgotPasswordForm.get('newPassword')?.touched &&
                      forgotPasswordForm.get('newPassword')?.errors?.required
                    "
                  >
                    New password is mandatory
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="
                      forgotPasswordForm.get('newPassword')?.touched &&
                      forgotPasswordForm.get('newPassword')?.errors?.minlength
                    "
                    >Minimun 6 characters required</small
                  >
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="clearfix">
            <div class="row">
              <div class="col-md-10">
                <input
                  style="width: 120%"
                  type="password"
                  class="form-control"
                  formControlName="confirmNewPassword"
                  Placeholder="Confirm new password"
                />
                <div class="validationMsg">
                  <small
                    class="text-danger"
                    *ngIf="
                      forgotPasswordForm.get('confirmNewPassword')?.touched &&
                      forgotPasswordForm.get('confirmNewPassword')?.errors
                        ?.required
                    "
                  >
                    Confirm password is mandatory
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="
                      forgotPasswordForm.get('confirmNewPassword')?.touched &&
                      forgotPasswordForm.get('confirmNewPassword')?.errors
                        ?.minlength
                    "
                    >Minimun 6 characters required</small
                  >
                  <small
                    class="text-danger"
                    *ngIf="
                      forgotPasswordForm.get('confirmNewPassword')?.errors
                        ?.confirmedValidator
                    "
                  >
                    Confirm password does`t match
                  </small>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="row">
            <div style="color: red" class="col-md-12">
              {{ message }}
            </div>
          </div>

          <div class="row" style="margin-top: 25px">
            <div class="col-md-6" style="margin-left: 30%">
              <button
                class="btn-outline-primary"
                style="border-radius: 10px; padding: 10px"
                [disabled]="!forgotPasswordForm.valid"
              >
                Change
              </button>
            </div>
          </div>
          <div class="row">
            <div style="margin: 10%">
              <p style="color: rgb(115, 111, 111)">
                Password changed?
                <a routerLink="/login" style="font-size: 15px">login</a>
              </p>
            </div>
          </div>
        </form>
      </div>
      <!-- end login -->
    </div>
  </div>
</div>
