@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #1b2836;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: roboto;
}
#page {
  margin: 0;
  padding: 0;
  max-width: 441px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}
#topbar {
  background: #243447;
  height: 53px;
  width: 100%;
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 50%;
  max-width: 441px;
  transform: translateX(-50%);
  font-size: 17px;
  padding: 13px;
  box-shadow: 0 2px 8px 0px #111a22;
  padding-top: 15px;
  z-index: 999;
  color: white;
}
#topbar .material-icons {
  color: #1da1f2;
  font-size: 22px;
}
#topbar b {
  margin-top: 2px;
  position: absolute;
  margin-left: 35px;
}
#bottombar {
  background: #243447;
  height: 52px;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 50%;
  max-width: 441px;
  transform: translateX(-50%);
  box-sizing: border-box;
  font-size: 15px;
  color: #91a3af;
  padding: 13px;
  padding-top: 18px;
  z-index: 999;
  border-top: 1px solid #037cee;
}
#bottombar div {
  box-sizing: border-box;
  border-bottom: 1px solid #0583f2;
  padding-bottom: 8px;
}
.tweet-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.user {
  width: 100%;
  margin-top: 53px;
  box-sizing: border-box;
}
#tweet .user img {
  width: 54px;
  height: 54px;
  object-fit: cover;
  border-radius: 58px;
  margin: 0px;
  margin-right: 5px;
  box-sizing: border-box;
  float: left;
  clear: both;
}
.username {
  padding: 8px;
  box-sizing: border-box;
  max-width: 90%;
  float: left;
}
.user .name {
  font-size: 15px;
  font-weight: 700;
  color: rgb(6, 6, 6);
  margin-bottom: 3px;
}
.user .handle {
  font-size: 15px;
  font-weight: 400;
  color: #8a9ba8;
}
.user .material-icons {
  color: #6c7e8d;
  float: right;
  display: inline-block;
  padding-top: 8px;
  margin-right: -18px;
  position: relative;
  box-sizing: border-box;
  font-size: 22px;
}
#tweet .ico img {
  width: auto;
  height: 1.05em;
  display: inline;
  margin: 0;
  padding: 0;
}
.tweet-content {
  width: 100%;
  display: inline-block;
  color: rgb(36, 35, 37);
  font-size: 23px;
  padding-left: 15%;
  margin-bottom: 20px;
  line-height: 28px;
  size: 100%;
}
a {
  color: #1da2f4;
  text-decoration: none;
}
.media {
  width: 100%;
  height: 233px;
  object-fit: cover;
}
.date {
  color: #8a9ba8;
  font-size: 15px;
  font-weight: 400;
}
.rl {
  color: #8a9ba8;
  margin: 0px;
  box-sizing: border-box;
  font-size: 15px;
  position: relative;
  border-top: 1px solid #cb06ed;
  border-bottom: 1px solid #ed0418;
  font-weight: 400;
}
.rl:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #182430;
}
.rl b {
  color: rgb(59, 35, 35);
}
.rl .retweets {
  float: left;
  margin-right: 13px;
}
.icons {
  width: 100%;
  margin-top: 0px;
  padding: 0;
  position: relative;
  height: 37px;
}
#tweet .icons:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
}

.stickySidebar {
  position: -webkit-sticky;
  position: sticky;
}

.ico {
  float: left;
  width: 25%;
  text-align: center;
  padding-bottom: 13px;
}
.pt {
  padding-top: 13px;
}
.pb {
  padding-bottom: 13px;
}
.pr {
  padding-right: 13px;
}
.sl {
  padding-left: 10px;
}
.pl {
  padding-left: 13px;
}
.wrap .userinfo {
  box-sizing: border-box;
  max-width: 90%;
  float: left;
  margin: 0;
}
.wrap .info .name {
  font-size: 16px;
  font-weight: 700;
  color: rgb(38, 36, 36);
  float: left;
  margin-right: 6px;
}
.wrap .info .handle {
  font-size: 16px;
  font-weight: 400;
  float: left;
  color: #8a9ba8;
}
.wrap .info .time {
  font-size: 16px;
  font-weight: 400;
  float: left;
  color: #8a9ba8;
  margin-left: 5px;
}
.wrap .info .time:before {
  content: "•";
  color: #8a9ba8;
  margin-right: 5px;
}
.info .material-icons {
  color: #6c7e8d;
  float: right;
  font-size: 22px;
  z-index: 999;
  margin-right: -5px;
}

.wrap {
  position: relative;
  margin: 0px;
}

.box {
  height: auto;

  position: relative;
  padding-bottom: 5px;
  padding-right: 13px;
  padding-left: 13px;
}
.wrap .avatar {
  width: 54px;
  height: 54px;
  object-fit: cover;
  border-radius: 58px;
  margin: 0px;
  box-sizing: border-box;
  z-index: 99;
  position: relative;
}
.border {
  border-right: 3px solid #fdfdfd;
  height: 100%;
  left: 39px;
  position: absolute;
  top: 13px;
  width: 1px;
  z-index: 0;
}

.box:last-child .border {
  display: none;
}
.box:last-child {
  border-bottom: 1px solid #f9f8f7;
}
.box:last-child:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #182430;
}
.content {
  overflow: hidden;
}
.line {
  float: left;
  display: block;
}
.replyto {
  float: left;
  display: block;
  color: #1a1a1b;
  padding-top: 3px;
  padding-bottom: 3px;
}
.subtweet-content {
  width: 100%;
  color: rgb(36, 38, 36);

  margin-bottom: 13px;
  display: inline-block;
  position: relative;
  padding-top: 5%;
  padding-left: 15%;
  padding-bottom: 26px;
  line-height: 21px;
  font-size: 16px;
}
.wrap .icons {
  width: 100%;
  height: auto;
  padding-left: 13px;
  position: absolute;
  bottom: 13px;
  border-bottom: 0px solid #0580eb;
}
.wrap .ico {
  float: left;
  width: 21%;
  text-align: left;
  padding: 0;
  margin: 0;
}
.wrap .ico img {
  width: auto;
  height: 0.9em;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}
.number {
  display: inline;
  position: relative;
  color: #8a9ba8;
  top: -3px;
  font-size: 13px;
  font-weight: 400;
  margin-left: 8px;
}

.fa-thumbs-up {
  color: #0a0b0c;
}
.fa-thumbs-up:hover {
  color: #1da1f2;
}

.fa-thumbs-up::after {
  animation-fill-mode: initial;
}

textarea::placeholder {
  text-align: center;
  padding-top: 10%;
}

#scroll {
  overflow: auto;
  margin-left: -2%;
  margin-right: 10%;
}

.fa-heart:hover {
  color: red;
}

.fa-heart {
  color: #0a0b0c;
}

.fa-heart::after {
  animation-fill-mode: both;
}
textarea {
  border: none;
  resize: none;
  border-radius: 15px;
}
/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

/* CARD BACKGROUNDS */

.card {
  /* background: radial-gradient(#ddebec, #40a0d4); */
  color: inherit;
  background: transparent;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

/* card end */

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column1 {
  float: right;
  width: 20%;
  padding: 10px;
}
.column2 {
  float: right;
  width: 60%;
  padding: 10px;
}
.column3 {
  float: right;
  width: 20%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.vl {
  margin-left: 10%;
  border: 2px solid rgb(194, 192, 191);
  height: 100%;
  width: 80%;
  border-radius: 20px;
}

.borderTweet {
  border: 2px solid rgb(194, 192, 191);
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
hr.solid {
  width: 100;
  border-top: 1px solid rgb(194, 192, 191);
}
