<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="mobile-web-app-capable" content="yes" />
<div class="row">
  <div class="column1" style="align-items: center">
    <div style="flex: 700%; margin: 50px">
      <app-nav-bar class="stickySidebar"></app-nav-bar>
    </div>
  </div>

  <div class="column2">
    <div
      class="container my-3"
      *ngIf="user"
      style="flex: 140%; margin-left: 30%; padding-top: 10%"
    >
      <div class="container row">
        <div class="col-md-4 col-sm-4 col-md-12">
          <div class="row">
            <div class="col-6">
              <div class="d-flex">
                <div style="display: flex">
                  <div style="flex: 100%; margin-left: 50%">
                    <img
                      width="100px"
                      class="profile-img"
                      alt="avatar"
                      *ngIf="user?.imageUrl == null"
                      src="user_icon.png"
                    />
                    <img
                      width="100px"
                      class="profile-img"
                      alt="avatar"
                      *ngIf="user?.imageUrl != null"
                      src="{{ user?.imageUrl }}"
                    />
                  </div>

                  <div style="margin-top: 80%; margin-left: -830%">
                    <input
                      class="file-input"
                      type="file"
                      name="file"
                      (change)="fileChange($event)"
                      accept="image/jpeg,image/jpg"
                      #file
                    />

                    <button
                      style="color: #1da1f2"
                      class="btn"
                      (click)="file.click()"
                    >
                      Upload
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
        </div>
        <div class="col-md-6 col-sm-6 col-md-12">
          <div class="profile-head">
            <div class="row"></div>
            <div class="row" style="margin-top: 5px">
              <div class="col-md-6">
                <label>First Name</label>
                <div class="col-md-12 form-control">
                  {{ user.firstName }}
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 5px">
              <div class="col-md-6">
                <label>Last Name</label>
                <div class="col-md-12 form-control">
                  {{ user.lastName }}
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 5px">
              <div class="col-md-6">
                <label>LoginId</label>
                <div class="col-md-12 form-control">
                  {{ user.loginId }}
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 5px">
              <div class="col-md-6">
                <label>Email</label>
                <div class="col-md-12 form-control">
                  {{ user.emailId | lowercase }}
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 5px">
              <div class="col-md-6">
                <label>Phone</label>
                <div class="col-md-12 form-control">
                  {{ user.contactNo }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-md-12"></div>
      </div>
    </div>
    <div style="flex: 60%"></div>
  </div>

  <div class="column3">
    <app-home></app-home>
  </div>
</div>
